<% provide(:title, 'Editar Usuario') %>
<% provide(:description, 'Cambie los valores que quiera en el formulario.') %>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-header bg-white">
        <h3>FORMULARIO DE EDICION</h3>
      </div>
      <div class="widget-content bg-white">
        <%= form_for(@user) do |f| %>

          <h5 class="widget-subsection">
            <span class="bottom-border-clr">
              <strong>Información personal</strong>
            </span>
          <h5>

          <div class="separator-form"><div>

          <%= f.label :name, 'Nombre' %>
          <%= f.text_field :name %></br>

          <%= f.label :email %>
          <%= f.email_field :email %></br>

          <h5 class="widget-subsection">
            <span class="bottom-border-clr">
              <strong>Información de usuario</strong>
            </span>
          <h5>

          <div class="separator-form"><div>

          <%= f.label :username, 'Nombre de usuario' %>
          <%= f.text_field :username %></br>

          <%= f.label :password %>
          <%= f.password_field :password %></br>

          <%= f.label :password_confirmation, "Confirmacion" %>
          <%= f.password_field :password_confirmation %></br>

          <div class="btn-separator">
            <%= f.submit "Guardar cambios", class: "btn btn-primary btn-flat" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
