<h5 class="box-subsection">
  <span class="bottom-border-clr">
    <strong>Información del cliente</strong>
  </span>
</h5>

<div id="client-search-info">
  <div class="row">
    <div class="col-md-3", style="text-align:right;">
      Nombre:
    </div>
    <div class="col-md-9">
      <%= @client.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3", style="text-align:right;">
      Dirección:
    </div>
    <div class="col-md-9">
      <%= @client.address %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3", style="text-align:right;">
      Teléfono de contacto:
    </div>
    <div class="col-md-9">
      <%= @client.contact_phone %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3", style="text-align:right;">
      CIF/DNI:
    </div>
    <div class="col-md-9">
      <%= @client.cif_dni %>
    </div>
  </div>
</div>

<%= form_for([@client, @bill], :html => {class: 'form-primary'}, remote: true) do |f| %>

  <h5 class="box-subsection">
    <span class="bottom-border-clr">
      <strong>Información de la reparacion</strong>
    </span>
  <h5>

  <div class="separator-form"><div>

    <div class="row">
      <div class="col-md-3">
        <%= f.label :price do %>
          <span>Precio</span>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :price, class: 'form-control' %>
      </div>
      <div class="col-md-3">
        <label class="form-error-display">
          <span id="bill_price_error"></span>
        </label>
      </div>
    </div>

    <%= f.fields_for :repairs do |repairs_form| %>
      <div class="row">
        <div class="col-md-3">
          <%= repairs_form.label :description do %>
            <span>Avería</span>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= repairs_form.text_field :description, class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <label class="form-error-display">
            <span id="repair_description_error"></span>
          </label>
        </div>
      </div>
    <% end %>

  <div class="row">
    <div class="col-md-9">
      <%= f.submit "Registrar reparacion", class: "btn btn-primary btn-flat pull-right" %>
    </div>
  </div>
<% end %>
