<h5 class="widget-subsection">
  <span class="bottom-border-clr">
    <strong>Información del cliente</strong>
  </span>
</h5>

<div id="client-search-info">
  Nombre: <%= @client.name %></br>
  Direccion: <%= @client.address %></br>
  Telefono de contacto: <%= @client.contact_phone %></br>
  CIF/DNI: <%= @client.cif_dni %></br>
</div>

<%= form_for([@client, @bill], remote: true) do |f| %>

  <h5 class="widget-subsection">
    <span class="bottom-border-clr">
      <strong>Información de la reparacion</strong>
    </span>
  <h5>

  <div class="separator-form"><div>

    <%= f.label :price, 'Precio' %>
    <%= f.text_field :price, class: 'form-control' %>
    <label id="bill_price_error"></label></br>

    <%= f.fields_for :repairs do |repairs_form| %>
      <%= repairs_form.label :description, 'Avería' %>
      <%= repairs_form.text_field :description, class: 'form-control' %>
      <label id="repair_description_error"></label></br></br>
    <% end %>

  <div class="btn-separator">
    <%= f.submit "Registrar reparacion", class: "btn btn-primary btn-flat" %>
  </div>
<% end %>
