<%= form_for(@repair, remote: true) do |f| %>
  <div class="form-group row">
    <%= label_tag :repair_brand_id, 'Marca', class: 'col-xs-12' %>
    <div class="col-xs-12">
      <%= select_tag :repair_brand_id, options_from_collection_for_select(PhoneBrand.order(:brand), "id", "brand"), class: 'form-control', include_blank: true %>
    </div>
  </div>
  <div class="form-group row">
    <%= label_tag :repair_model_id, 'Modelo', class: 'col-xs-12' %>
    <div class="col-xs-12">
      <% grouped_models = PhoneBrand.all.map { |brand| [brand.brand, brand.phones.map { |phone| [phone.model, phone.id] }] } %>
      <%= select_tag :repair_model_id, grouped_options_for_select(grouped_models), class: 'form-control', include_blank: true, disabled: true %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :phone_id, 'Modelo', class: 'col-xs-12' %>
    <div class="col-xs-12">
      <% grouped_reviews = Phone.all.map { |phone| [phone.model, Phone.where(model: phone.model).map { |review| [review.model_review, review.id] }] } %>
      <%= f.select(:phone_id, grouped_options_for_select(grouped_reviews), { include_blank: true }, { class: 'form-control', disabled: true }) %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :description, 'Descripción de la avería', class: 'col-xs-12' %>
    <div class="col-xs-12">
      <%= f.text_field :description, class: 'form-control' %>
    </div>
    <label id="repair_description_error" class="form-error-display col-xs-12"></label>
  </div>
  <div class="form-group row">
    <div class="col-xs-12">
      <%= f.submit submit_label, class: "btn btn-primary btn-flat pull-right" %>
    </div>
  </div>
<% end %>
