<%= form_for(@client, :html => {class: 'form-primary'}, remote: true) do |f| %>

  <h5 class="box-subsection">
    <span class="bottom-border-clr">
      <strong>Información del cliente</strong>
    </span>
  </h5>

  <div class="separator-form"></div>

  <div class="form-group row">
    <%= f.label :cif_dni, 'CIF/DNI', class: 'col-md-3' %>
    <div class="col-md-6">
      <%= f.text_field :cif_dni, class: 'form-control' %>
    </div>
    <label id="client_cif_dni_error" class="form-error-display col-md-3"></label>
  </div>

  <div class="form-group row">
    <%= f.label :name, 'Nombre', class: 'col-md-3' %>
    <div class="col-md-6">
      <%= f.text_field :name, class: 'form-control'  %>
    </div>
    <label id="client_name_error" class="form-error-display col-md-3"></label>
  </div>

  <div class="form-group row">
    <%= f.label :address, 'Dirección', class: 'col-md-3' %>
    <div class="col-md-6">
      <%= f.text_field :address, class: 'form-control' %>
    </div>
    <label id="client_address_error" class="form-error-display col-md-3"></label>
  </div>

  <div class="form-group row">
    <%= f.label :contact_phone, 'Teléfono de contacto', class: "col-md-3" %>
    <div class="col-md-6">
      <%= f.text_field :contact_phone, class: 'form-control' %>
    </div>
    <label id="client_contact_phone_error" class="form-error-display col-md-3"></label>
  </div>

  <h5 class="box-subsection">
    <span class="bottom-border-clr">
      <strong>Información de la reparacion</strong>
    </span>
  </h5>

  <div class="separator-form"></div>

  <%= f.fields_for :bills do |bills_form| %>
    <div class="form-group row">
      <%= bills_form.label :price, 'Precio', class: 'col-md-3' %>
      <div class="col-md-6">
        <%= bills_form.text_field :price, class: 'form-control' %>
      </div>
      <label id="bill_price_error" class="form-error-display col-md-3"></label>
    </div>

    <%= bills_form.fields_for :repairs do |repairs_form| %>
      <div class="form-group row">
        <%= repairs_form.label :description, 'Avería', class: 'col-md-3' %>
        <div class="col-md-6">
          <%= repairs_form.text_field :description, class: 'form-control' %>
        </div>
        <label id="repair_description_error" class="form-error-display col-md-3"></label>
      </div>
    <% end %>
  <% end %>

  <div class="form-group row">
    <div class="col-md-9">
      <%= f.submit "Registrar reparacion", class: "btn btn-primary btn-flat pull-right" %>
    </div>
  </div>
<% end %>
