<div class="order-header">
  <%= link_to "#repair-description-#{@repair.id}", class: "action-horizontal-grid order-main-description", data: { toggle: "collapse" } do %>
    <%= @repair.status %>
    <em class="icon-arrow-down order-action"></em>
  <% end %>
  <%= link_to edit_repair_path(@repair), class: "action-horizontal-grid order-action", remote: true do %>
    <em class="icon-pencil"></em>
  <% end %>
  <%= link_to @repair, class: "action-horizontal-grid order-action", method: :delete, remote: true do %>
    <em class="icon-trash"></em>
  <% end %>
</div>
<%= content_tag :div, id: "repair-description-#{@repair.id}", class: "order-sub-description collapse" do %>
<div class="row">
  <div class="col-sm-3">
    <b>Modelo:</b>
  </div>
  <div class="col-sm-9">
    <%= "#{@repair.phone.phone_brand.brand} #{@repair.phone.model} #{@repair.phone.model_review}" %>
  </div>
</div>
  <div class="row">
    <div class="col-sm-3">
      <b>Descripción:</b>
    </div>
    <div class="col-sm-9">
      <%= @repair.description %>
    </div>
  </div>
<% end %>
