<% provide(:title, 'Registro Reparacion') %>
<% provide(:description, 'Formulario para una nueva reparacion.') %>

<div class="f-panel">
  <div class="f-header bg-info">
    Buscar cliente
    <!--<%= text_field_tag :search, params[:search] %>
    <%= link_to (search_clients_path), id: "search-link", method: :post, remote: true do %>
      <em class="icon-magnifier"></em>
    <% end %>-->
    <%= form_tag search_clients_path, class: "panel-header-search", method: :get, remote: :true do %>
      <%= text_field_tag :search %>
      <%= button_tag id: "search" do %>
        <em class="icon-magnifier"></em>
      <% end %>
    <% end %>
  </div>
  <div class="f-content bg-white" id="panel-search-content">
    <div id="client-search-info">
      <% client = Client.find(1) %>
      Nombre: <%= client.name %></br>
      Direccion: <%= client.address %></br>
      Telefono de contacto: <%= client.contact_phone %></br>
      CIF/DNI: <%= client.cif_dni %></br>
    </div>
    <div id="repair-client-form"></div>
    <%= render partial: "client-form", locals: {client: @client} %>
  </div>
</div>
