<!DOCTYPE html>
<html>
  <head>
    <title>MegaLuisferRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %>">
    <div id="header" class="page-navbar header-fixed">
      <div class="navbar-logo">
        MEGALUISFER
      </div>
      <div id="navbar-no-collapse" class="navbar-no-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" aria-expanded="false">
              Luisfer
            </a>
          </li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
