<!DOCTYPE html>
<html>
  <head>
    <title>MegaLuisferRails</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.css">
  </head>

  <body class="<%= controller_name %>">
    <section id="container">
      <!-- header start -->
      <header id="header" class="header fixed-top">
        <!-- logo start -->
        <%= link_to home_path, class: 'logo' do %>
          <span class="logo-lg">
            <b>MEGA</b>
            LUISFER
          </span>
        <% end %>
        <!-- logo end -->
        <!--
            TOP NAVIGATION
        -->
        <div class="top-navbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="warning-dropdown" data-toggle="dropdown" aria-expanded="false">
                <em class="icon-bell"></em>
                <div class="label label-warning <%= "hidden" if @alert_count < 0 %>"><%= @alert_count %></div>
              </a>
              <ul class="dropdown-menu" style="width: 100%">
                <li><%= @low_components[0].brand + " " + @low_components[0].model if @low_components[0] != nil %></li>
                <li><%= @low_components[1].brand + " " + @low_components[1].model if @low_components[1] != nil %></li>
                <li><%= @low_components[2].brand + " " + @low_components[2].model if @low_components[2] != nil %></li>
                <hr>
                <li>Ver todos</li>
              </ul>
            </li>
            <li class="dropdown user-menu">
              <a href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false">
                <%= image_tag 'user-icon.png', class: 'img-circle' %>
                <%= current_user.name %>
              </a>
              <ul class="dropdown-menu" style="width: 100%">
                <li><%= link_to 'Usuarios', users_path %></li>
                <li><%= link_to 'Cerrar sesion', logout_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
          <!--
              TOP NAVIGATION END
          -->
        </div>
      </header>
      <!--
          SIDEBAR NAVIGATION
      -->
      <aside class="sidebar">
        <ul class="sidebar-menu">
          <li class="leftside-logo">
            <%= image_tag 'megabox-logo.png', class: 'megabox-logo' %>
            <div class="megabox-text">
              <b>MEGA</b>
              box
            </div>
          </li>
          <li class="sidebar-header">NAVEGACION</li>
          <li class="sidebar-buttons">
            <%= link_to home_path do %>
              <span class="icon-screen-desktop"></span>
              <span>Menu</span>
            <% end %>
          </li>
          <li class="sidebar-buttons">
            <%= link_to new_repair_path do %>
              <span class="icon-wrench"></span>
              <span>Nueva reparacion</span>
            <% end %>
          </li>
          <li class="sidebar-buttons">
            <%= link_to component_descs_path do %>
              <span class="icon-organization"></span>
              <span>Descripción de componentes</span>
            <% end %>
          </li>
        </ul>
        <!--
            SIDEBAR NAVIGATION END
        -->
      </aside>
      <!--
          MAIN CONTENT
      -->
      <div class="content-wrapper">
          <section class="top-page-header">
            <div class="page-title">
              <h1><%= yield(:title) %></h1>
            </div>
            <ol class="breadcrum">
              <li>
                <span class="glyphicon glyphicon-home"></span>
                Home
              </li>
            </ol>
          </section>
          <section class="main-content">
            <%= yield %>
          </section>
      </div>
    </section>
  </body>
</html>
