<!DOCTYPE html>
<html>
  <head>
    <title>MegaLuisferRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.css">
  </head>

  <body class="<%= controller_name %>">
    <section id="container">
      <!-- header start -->
      <header id="header" class="header fixed-top">
        <!-- logo start -->
        <div class="brand">
          <%= link_to 'MEGALUISFER', home_path, class: 'logo' %>
        </div>
        <!-- logo end -->
        <!--
            TOP NAVIGATION
        -->
        <div class="top-navbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <!--empiezo aqui -->
              <a href="#" class="warning-dropdown" data-toggle="dropdown" aria-expanded="false">
                <em class="icon-bell"></em>
                <div class="label badge <%= "hidden" if @alert_count < 3 %>"><%= @alert_count %></div>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" style="width: 100%">
                <li>Stock A</li>
                <li>Stock B</li>
                <li>Stock C</li>
                <hr>
                <li>Ver todos</li>
              </ul>
              <!--termino aqui -->
            </li>
            <li class="dropdown">
              <a href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false">
                <span class="navbar-img">
                    <%= image_tag 'user-icon.png', class: 'img-circle' %>
                </span>
                <%= current_user.name %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" style="width: 100%">
                <li><%= link_to 'Usuarios', users_path %></li>
                <li><%= link_to 'Cerrar sesion', logout_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
          <!--
              TOP NAVIGATION END
          -->
        </div>
      </header>
      <!--
          SIDEBAR NAVIGATION
      -->
      <aside>
        <div id="sidebar">
          <div class="leftside-navigation">
            <ul class="sidebar-menu">
              <li class="leftside-logo"></li>
              <li class="sidebar-buttons">
                <%= link_to home_path do %>
                  <span class="icon-screen-desktop"></span>
                  <span>Menu</span>
                  <span class="icon-arrow-right"></span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <!--
            SIDEBAR NAVIGATION END
        -->
      </aside>
      <!--
          MAIN CONTENT
      -->
      <section id="main-content">
        <section class="wrapper">
          <div class="top-page-header">
            <div class="page-title">
              <h2><%= yield(:title) %></h2>
              <small><%= yield(:description) %></small>
            </div>
            <div class="page-breadcrum">

            </div>
          </div>
          <%= yield %>
        </section>
      </section>
    </section>
  </body>
</html>
